[submodule "weather"]
	path = weather
	url = https://github.com/vladak/weather.git
[submodule "systemp"]
	path = systemp
	url = https://github.com/vladak/systemp.git
[submodule "zerodisplay"]
	path = zerodisplay
	url = https://github.com/vladak/zerodisplay
